@media only screen and (max-width: 992px) {
  .about_page_title {
    margin: 50px 0 !important;
    font-size: 24px !important;
  }
  .about_video {
    height: 200px !important;
  }
  .poster{
    height: 200px !important;
    object-fit: contain;
  }
  .about_page_img {
    width: 100% !important;
    height: 300px !important;
  }
  .brands_title {
    font-size: 24px !important;
    padding: 40px !important;
  }
  .brands_elements {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .brands_elements_element {
    padding: 20px !important;
    height: 100px !important;
    object-fit: contain !important;
  }
  .comment_title {
    font-size: 24px !important;
    text-align: center !important;
  }
  .about_page_comments {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 40px 0 !important;
    gap: 45px !important;
  }
  .more_comments {
    display: flex !important;
    width: 300px !important;
    padding: 16px 40px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
  }
  .recv_container {
    height: 250px !important;
  }
  .recv_text {
    font-size: 24px !important;
  }
  .recv_btn {
    margin-top: 20px !important;
  }
  .img_gallery {
    display: flex !important;
    flex-direction: column !important;
    div {
      height: 300px !important;
    }
  }
  .certificates {
    grid-template-columns: repeat(1, 1fr) !important;
    img {
      pointer-events: none;
      height: 600px !important;
      border-radius: 25px !important;
      -webkit-border-radius: 25px !important;
      -moz-border-radius: 25px !important;
      -ms-border-radius: 25px !important;
      -o-border-radius: 25px !important;
    }
  }
}
