.catalog-section {
  margin-top: 100px;

  .catalog-heading {
    color: var(--Colors-Dark-green, #0f1e00);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;

    &:after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      background-image: url("../../../../assets/images/icons/arrow-up.svg");
      background-repeat: no-repeat;
      background-size: contain;
      left: 112px;
      bottom: 6px;
    }
  }
}

.catalog-list {
  margin-top: 20px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;

  @media only screen and (max-width: 1400px) {
    grid-gap: 36px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 992px) {
    grid-gap: 50px;
    justify-items: center;
    grid-template-columns: repeat(2, 41vw);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 768px) {
    grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 576px) {
    // grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(1, 90vw);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 375px) {
    // grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(1, 84vw);
    grid-template-rows: repeat(3, auto);
  }
}
